$body-bg: #fff; 
$spacer: 2rem;
$primary_color: #ac2757;
$font_color: #2f3a53;
$secondary_color: #8393b3;

* {
    margin: 0 auto;
    padding: 0;
    border:none;
}

p, h1, h2, h3, h4, h5, h6, span{
    color: $font_color;
}
.left-nav .nav-link, .nav-link:active{
    color: $font_color;
}

.left-nav .nav-link:hover, .nav-link:focus {
    color: #8393b3;
}

.right-nav .nav-link, .nav-link:active{
    color: $primary_color;
}

.right-nav .nav-link:hover, .nav-link:focus {
    color: #ac5976;
}

// paddings
.py-6{
    padding-top: $spacer * 3.5;
    padding-bottom: $spacer * 3.5
}

// fonts
.fs-7 {
    font-size: 0.75rem !important;
}

.fs-8 {
    font-size: 0.65rem !important;
}
// hero banner

// section - 1 - email
.subcribe-section{
    margin-top: 2rem;
    background-color: $secondary_color;
    h2, p{
        color: #fff;
    }
    span{
        color: $font_color;
    }
}
// section - 2 - recommended
.recommended-section{
    .card-wrapper .card{
        border-radius: 0;
        border: none;
        background-color: #f0f2f8;
    }
    .card-title i{
        color: $primary_color;
        font-size: 1.25rem;
    }
    .card-custom-footer .left span{
        color: $primary_color;
        font-weight: bolder;
    }
    
    .card-custom-footer .right .card-link-1{
        text-decoration: none;
        color: $primary_color;
        font-weight: bolder;
        i {
            color: rgb(77, 70, 70);
            font-size: 1rem;
        }
    }
}

// section - 3 - article
.article-section{
    background-color: #f0f2f8;

    .article-header a{
        text-decoration: none;
        font-weight: bolder;
        color: $primary_color;
    }

    .card-wrapper{
        margin-top: 1rem;
        .card{
            border-radius: 0;
            border: none;
            .card-img-top{
                border-radius: 0;
            }
            .card-title{
                margin-bottom: 0;
            }
        }
    }
    .card-custom-footer a{
        text-decoration: none;
        font-weight: bolder;
        color: $primary_color;
    }
    .daily-text .daily-footer a{
        text-decoration: none;
        font-weight: bolder;
        color: $primary_color;
    }

    .featured-header a{
        text-decoration: none;
        font-weight: bolder;
        color: $primary_color;
    }

}

// section 4 - testimonial
.testimonial-section{
    .testimonial-header a{
        text-decoration: none;
        font-weight: bolder;
        color: $primary_color;
    }
}

// section 5 - legal
.legal-section{
    background-color: #f0f2f8;

    .tab-content{
        background: white;
    }

    a{
        text-decoration: none;
        font-weight: bold;
    }
    p{
        color: $primary_color;

    }
}

// Footer
footer{
    background-color: $font_color;
    h6{
        color: white;
    }
    .row p{
        color: $secondary_color;
    }
    a{
        text-decoration: none;
    }
    .border-top {
        border-top: 1px solid #8393b3 !important;
    }
}

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  .container{
      margin-top:2rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    background: #f0f2f8;
    height: 100%;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    margin-top:4rem;
    height: 32rem;
    background-color: white;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

// Tabs
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    cursor: pointer;
    background-color: #fff;
    border-radius: 0;
    text-decoration: none;
    color: $font_color;
}
.nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 1px solid transparent;
    text-decoration: none;
    color: $font_color;
    background-color: #e3e7f3;
    border-radius: 0;

}
.nav>li>a {
    position: relative;
    display: block;
    padding-left: 3rem;
    padding-right: 3rem;
}

a:active, a:hover {
    outline: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}




@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");